<head>

  <meta property="og:image" content="{{ site.url }}/assets/img/logo-3.jpg" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <meta
    content="Montador de móveis, Montagem de Guarda roupa, Montagem de Cozinha, Montagem de Rack, Montagem de Estante, Montador Copacabana, Montador barra da tijuca, Montador Nova iguaçú, Montador Belford Roxo, Montador Rio"
    name="keywords"
  />

  <title>
    {% if page.section == "home" %}{{ site.title }}{% else %}{{ page.title |
    default: site.title }}{% endif %}
  </title>

  <link
    rel="stylesheet"
    href="https://yui-s.yahooapis.com/pure/0.6.0/pure-min.css"
  />
  <link
    rel="stylesheet"
    href="https://yui-s.yahooapis.com/pure/0.6.0/grids-responsive-min.css"
  />

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
   <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
  />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-164323160-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-164323160-1");
  </script>

  <!-- 
   MADE BY NETJAPA
  -->
</head>
