<head>


  <meta property="og:image" content="{{ site.url }}/assets/img/logo-2.jpeg" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />

  <title>
    {% if page.section == "home" %}{{ site.title }}{% else %}{{ page.title |
    default: site.title }}{% endif %}
  </title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

  <link
    href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    rel="stylesheet"
  />
  
 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-164323160-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-164323160-1');
</script>
  
  <!-- 
   MADE BY NETJAPA
  -->
</head>
