<!-- Bootstrap core JavaScript -->

<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-2.2.4.min.js"
></script>

<script src="{{ site.baseurl }}/assets/js/apollo.js"></script>


<script src="{{ site.baseurl }}/assets/js/hamburger.js"></script>

  <script src="{{ site.baseurl }}/assets/js/fluid-image-grid.js"></script>
  
  <script src="{{ site.baseurl }}/assets/js/jquery.tightgrid.js"></script>

  <script>
    $(function () {
      FluidImageGrid.init({
        resizeThrottleRate: 100, // how often to recalculate layout on resize (ms)
        scrollThrottleRate: 10, // how often to check if new results need to be loaded (ms)
        nTbnsPending: 8 // number of pending images to allow at once before loading more results
      });
    });
  </script>

      <script>
      $(document).ready(function() {
        $('.js-grid').tightGrid();
      });
    </script>

<div id="fb-root"></div>
<script
  async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v6.0"
></script>


<!-- 
   MADE BY NETJAPA
  -->
