<!-- Bootstrap core JavaScript -->

<div id="fb-root"></div>
<script
  async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v6.0"
></script>

<script src="{{ site.baseurl }}/assets/js/vendor.js"></script>
<script src="{{ site.baseurl }}/assets/js/app.js"></script>

<script>
  $(document).ready(function() {
    //initialize swiper when document ready
    let mySwiper = new Swiper(".swiper-container", {
      // Optional parameters
      speed: 250,
      loop: true,
      direction: "horizontal",
      centeredSlides: true,
      slidesPerView: 1,

      initialSlide: 0,
      nextButton: $(".swiper-button-next").get(0),
      prevButton: $(".swiper-button-prev").get(0),
      pagination: $(".swiper-pagination").get(0),
      paginationClickable: true,

      lazy: {
        loadPrevNext: true
      }
    });
  });
</script>

<!-- 
   MADE BY NETJAPA
  -->
