{% if page.url == "/" %}
<section class="grey-card">


  <div class="container pure-g ">
    <div class="pure-u-1 pure-u-md-1-2"><img src="/photos/services.png" /></div>

    <div class="pure-u-1 pure-u-md-1-2">
      <ul class="service-list">
        <li>
          Montagem de móveis de qualquer marca seja Tok&Stok, Viggore ou qualquer
          outro nome de revendedor que você possa imaginar.
        </li>
        <li>
          Também fazemos reparos e consertos.
        </li>
        <li>
          Preços camaradas.
        </li>
        <li> <div class="info-box-price">Aceitamos todos os cartões</div>
          <img
          style="width:50px"
          src="{{ site.baseurl }}/assets/icon/mastercard.svg"
          alt="matercard"
        />
        <img
        style="width:50px"
        src="{{ site.baseurl }}/assets/icon/visa.svg"
        alt="visa"
      />
      <img
      style="width:50px"
      src="{{ site.baseurl }}/assets/icon/elo.svg"
      alt="elo"
    />
    <img
    style="width:50px"
    src="{{ site.baseurl }}/assets/icon/amex.svg"
    alt="amex"
  />

     
        </div></li>
      </ul>
    </div>
  </div>
</section>
{% endif %}