#banner ul li {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #000;
  font-size: 16px;
  margin-bottom: 25px;
}
/*ul {
  display: block;
  list-style-type: disc;
  margin: 0;
}*/

ul {list-style: none;}
ul.service-list  li {margin-bottom:20px;list-style: disc;}
